{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        {{ site.title }} looking for talks that fall under three main categories: Development, Design, and Marketing.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <h3>Development</h3>
    <ul>
        <li>Virtualization and environments / containers</li>
        <li>Development principles</li>
        <li>Security</li>
        <li>Mobile-first design</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Version control</li>
        <li>Building APIs (REST, SOAP, whatever)</li>
        <li>Continuous Integration</li>
        <li>Framework-related topics</li>
    </ul>
    <h3>Design</h3>
    <ul>
        <li>Responsive Web Dev</li>
        <li>Why You Should Sketch</li>
        <li>What is Usability</li>
        <li>Color Theory</li>
        <li>Future of Design</li>
        <li>Designing for Wearables</li>
        <li>Composition of a Good Website</li>
    </ul>
    <h3>Marketing</h3>
    <ul>
        <li>Content Creation</li>
        <li>Social Media</li>
        <li>Search Engines</li>
        <li>Analytics</li>
        <li>Gamification</li>
        <li>Localizing Your Content</li>
    </ul>
</div>
{% endblock %}

